html{
margin:0;
}
body{
margin:0;
}
#header{
margin:0;
display:block;
position:fixed;
width:100%;
z-index:100
}
#header #header-container{
margin:0 auto;
width:680px;
height:28px;
background-color:black;
color:white;
display:block;
}

#header #header-container ul{
margin-top:0;
margin-left:100px;
display:block;
height:28px;
}

#header #header-container ul a li{
display:inline-block;
padding-top:4px;
padding-right:20px;
padding-left:20px;
font-size:0.9em;
color:white;
height:28px;
}

#header #header-container ul a{
text-decoration:none;
color:white;
}
#header #header-container #logo{
display:block;
float:left;
}
#header #header-container ul a :hover{
background-color:purple;
}

.slides-navigation a.next img{
width:50px;
height:50px;
}
.slides-navigation a.prev img{
width:50px;
height:50px;
}
